*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background-image: url(img/CAPA\ CIDADE\ INVISÍVEL.jpg);
    background-color: #00000055; /* colocamos cor meio transparente para misturando com a imagem, deixando-a mais opaca/escura*/
    background-blend-mode: darken; /* mistura a imagem e a cor do fundo pro escuro*/
    background-repeat: no-repeat; /*Impede qeua a imagem fique se repetindo*/
    background-size: cover; /*Faz a imagem cobrir todo o fundo, esticando*/
    background-position: right top; /*define o ponto de enfase da imagem, evitando que este seja cortado*/
    display: flex;
    flex-direction: column; /* faze o header, main e footer ficarem um acima do outro */
    font-family: 'Karla', sans-serif;
    color:white;
    
}


header
{
    height: 70px;
    background-color:#000000AA;
    display: flex; /*ORGANIZA OS OBJETOS DENTRO DELE*/
    justify-content: space-between; /*ESPALHA OS OBJETOS na direção do flex dando espaço entre os componentes de header*/
    padding: 0 10vw; /* cima, dieiro, baixo, esquerda  10% valor anterior aos 10vw
        /* padding: 10%; UMA INFO SÓ, VALE PARA TODOS (CIMA, DIREITA, EM BAIXO, ESQUERDA) */
        /* padding: __ __ dois valores vale 1º cima e baixo 2º direita e esquerda */
        /*NÃO USAMOS MARGIN PQ O ESPAÇO FICARIA PARA FORA. PADDING É DENTRO DO PRÓPRIO OBJETO*/
    align-items: center; /* centraliza na vertical quando é row, que é o caso do header*/

    /* Justify e align só vale se tiver o flex antes */
}


.logo img
{
    width: 120px;
}

.links ul
{
    gap: 20px; /* espaçamento entre os objetos TAMBÉM É DO FLEX*/
    list-style-type: none; /* tira as bolinhas da lista, que no caso é o link*/
}


.links a 
{
    color: white;
    text-decoration: none; /* tira o sublinhado e a mudança de cor dos links*/
    font-size: 20px;
    user-select: none; /* dnão deixa o usuário selecionar os links*/
    transition: all 1s; /* determina que ____ (all) mudança deve acontecer em ___ (1s) tempo*/
}

.links a:hover /* aqui vocês especifica o que acontece ao passar o mouse (hover) pelo elemento (a de links)*/
{
    color: red;
}


main
{
    padding:25vh 10vw; /*25 pra cima e pra baixo, 10 direita e esquerda*/
    flex-grow:1;
      /* se eu colocasse flex-grow:2 no footer, ele teria o dobro do tamanho do main
       importante para proporcionalidade e tals */
}

main h2
{
    font-size: 30px;
}

main h1
{
    font-size: 70px;
}

main p
{
    font-size: 25px;
    font-weight: 200; /* deixa a fonte fininha, espessura*/
    max-width: 800px; /*o máximo do tamanho da caixinha é 800, quando for menor, vai quebrando confor*/
}

main a 
{
    display: flex; /* transforma o link numa caxinha. poderia ser block*/
    width: 200px;  /* largura do quadrado*/
    height: 50px;  /* altura do quadrado*/
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* tira o sublinhado e a mudança de cor dos links*/
    color: white;
    font-size: 20px;
    margin-top: 30px; /* separa o botão do textos acima dele*/
    border-radius: 2px;
    transition: all .5s; /* determina que ____ (todas) mudança deve acontecer em ___ (1s) tempo*/
    /* text-shadow: 2px 1px 1px black; (baixo direita espalhamento) */
}

main a:hover 
{
    border:solid 1px goldenrod;
    background-color: black;
}

footer
{
    height: 30px;
    text-align: center;
}

.borboleta
{
    position: absolute; /* Deixa a borboleta livre por todo o pai dele, que é o main */
    width: 60px; 
    top: 90vh; /* deixa ela em baixo, longe do top */
    left: 90vw; /* deixa ela para a direita, longe do esquerda */
    filter: brightness(10%); /* reduz seu brilho para 10%, deixando-a escura */
    animation: voar 20s linear infinite;
}

@keyframes voar 
{
    0%
    {
        transform: translate(0,0); /* no inicio (0), vai começar onde ela está mesmo (eixo x e y no 0)*/
    }

    100%
    {
        transform: translate(-90vw,-90vh); /* no fim (100), vai estar no topo (eixo x e y no 90)*/
    }
}

/* para deixar centralizado direita-esquerda
margin-left: auto
margin rigth: auto; */



/* .conteiner
{
    height: 500px;
}

.caixa
{
   float: left;
   background-color:rgb(191, 154, 226);
   width: 33.33%;
   padding: 5%;
}

.caixa:first-child
{
background-color: rgb(130, 195, 197);
}

.caixa:last-child
{
background-color: rgb(130, 195, 197);
} */